<!-- Fragment de FOOTER comun a todas las plantillas -->
<footer th:fragment="footer" class="navbar-inverse navbar-fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="p-3 mb-2 bg-secondary text-white">
        <div class="container">
            <div class="footer-copyright text-center py-3" style="color:#9d9d9d">
                <p>Curso 2019-2020 - Proyecto Fin de Ciclo Formativo de Grado Superior Desarrollo de Aplicaciones Multiplataforma 
                    - Alumno: <a style="color:#9d9d9d" th:href="@{/public/about_me}"><b>Victor Morales Perez</b></a></p>
                <a target="_blank" rel="noopener noreferrer" style="color:#9d9d9d" href="https://www.ceslopedevega.com"><b>CES Lope de Vega</b></a>
            </div>
        </div>
    </div>
</footer>