<!-- Fragment de PANEL DE USUARIO que se vera en tiempo de ejecucion -->
<div th:fragment="userPanel" class="container" xmlns:th="http://www.w3.org/1999/xhtml">
	<br><br>
	<div class="col-md-12">
		<div class="panel panel-default panel-producto" style="margin-bottom: 30px">
			<!-- AVATAR USUARIO -->
			<div class="panel-body text-center">
				<br>
				<!-- CONDICIONAL TERNARIO: Si el Atributo Avatar esta Vacio, usamos el Servicio para Avatares de la URL (adorable.io), SI NO, es porque tenemos asignada una URL local (hemos subido nosotros una imagen en el Formulario) y accederemos a ella -->
				<img th:src="${#strings.isEmpty(producto.propietario.avatar)} ? @{http://api.adorable.io/avatars/140/{email}.png(email=${producto.propietario.email})} : ${producto.propietario.avatar}" 
				class="img-circle" name="aboutme" width="180" height="180" alt="Avatar de Usuario"/>
			</div>
			<br>
			<!-- NOMBRE USUARIO VENDEDOR DEL PRODUCTO -->
			<div class="panel-heading" style="background-color: #69b72a; color: white">
				<b>Vendedor :</b>
				<div class="nombre pull-right">
					<span th:text="${producto.propietario.nombre + ' ' + producto.propietario.apellidos}"></span>
				</div>
			</div>
			<!-- EMAIL VENDEDOR DEL PRODUCTO -->
			<div class="panel-heading" style="color: #69b72a">
				<b>Email :</b>
				<div class="email pull-right">
					<span th:text="${producto.propietario.email}"></span>
				</div>
			</div>
		</div> 
	</div> 
</div> 